# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore real envs, but not .env.example
.env
.env.local
.env.development
.env.production

venv/
ENV/
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# VS Code
.vscode/